#final-deliverable-main-container 
{
    border-color: #F4F4F4;
    color: #1A1A1A;
    padding-top: 20px;
}

#final-deliverable-flex-container 
{
    display: flex;
    width: 100%;
}

#final-deliverable-main-container h2:after 
{
    content: '';
    background: #FFD712;
    width: 35px;
    height: 4px;
    display: block;
    margin: 10px auto 25px;
}

.final-deliverable-section 
{
    /*flex-grow: 1;*/
    font-size: 14px;
    margin: -2px;
    line-height: 18px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 10px;
    min-height: 32px;
    padding: 0 36px;
}
#final-deliverable-flex-container .final-deliverable-section .subheadingtitle 
{
    font-size: 16px;
    height: 50px;
    font-weight: bold;
    text-align: Left;
}
.final-deliverable-section img 
{
    height: 15px;
    width: 15px;
}

#final-deliverable-main-container p 
{
    line-height: 30px;
    font-size: 14px;
    min-height: 40px;
    color: #333333;
    line-height: 1.5384616;
    font-weight: 400;
    word-wrap: break-word;
    text-indent: -24px;
}

@media  screen and (min-width: 701px) 
{
    #final-deliverable-main-container h2 
    {
        font-size: 15px;
        line-height: 1.5384616;
        font-weight: 400;
        text-align: center;
        font-size: 27px;
        line-height: 45px;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        font-weight: 700;
        padding: 6px 0;
    }

    #final-deliverable-main-container 
    {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 21px;
    }

    #final-deliverable-flex-container 
    {
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}
@media  screen and (max-width: 700px) 
{
    #final-deliverable-main-container h2 
    {
        font-size: 19px;
        line-height: 25px;
        width: 75%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        font-weight: 700;
    }

    #final-deliverable-flex-container 
    {
        flex-wrap: wrap;
        padding-bottom: 20px;
        margin-right: 30px;
        margin-left: 30px;
        width: auto;
    }

    .final-deliverable-section
    {
        font-size: 14px;
        line-height: 18px;
        min-height: 32px;
        padding-top: 0px;
        padding-right: 36px;
        padding-bottom: 0px;
        padding-left: 36px;
    }
}

@media  screen and (max-width: 360px) 
{
    #final-deliverable-main-container p 
    {
        line-height: 30px;
        font-size: 13px;
        min-height: 40px;
        color: #333333;
        line-height: 1.5384616;
        font-weight: 400;
        word-wrap: break-word;
        text-indent: -24px;
    }
}